<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mystreetprayer.app">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".RunFirstInstance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".UploadLyricsActivity"/>

        <activity android:name=".Lyrics_MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AudioSermonsActivity" />
        <activity
            android:name=".WorshipSongsMain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PrayerSongWeb">
            <intent-filter>
                <action android:name="PRAYERSONGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OfferingActivity" />
        <activity
            android:name=".AboutUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GettingStartedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyVerse_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PrayerRequests" />
        <activity android:name=".UploadVideos" />
        <activity android:name=".CreateNotificationActivity" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Testimonial" />
        <activity android:name=".PrayerPoints">
            <intent-filter>
                <action android:name="PRAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KnowTheTruth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="BOOKS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Covid19WebPage" /> <!-- Begin of Injected Alarm Services -->
        <activity android:name=".alarmclock.ui.AlarmMainActivity" />
        <activity android:name=".alarmclock.ui.AddEditAlarmActivity" />
        <activity
            android:name=".alarmclock.ui.AlarmLandingPageActivity"
            android:theme="@style/AlertLandingPageTheme" />

        <service android:name=".alarmclock.service.LoadAlarmsService" />

        <receiver android:name=".alarmclock.service.LoadAlarmsReceiver" />
        <receiver android:name=".alarmclock.service.AlarmReceiver" />
        <receiver
            android:name=".alarmclock.service.NotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".alarmclock.service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="${bootPriority}">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- End of Injected Alarm Services -->
        <activity android:name=".RegisterTimeActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".alarmclock.service.KPC_FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>